body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --primary-green: #00B67A;
    --primary-blue: #1a237e;
}

.top-bar {
    background: #000619;
    padding: 13.5px 0;
}
.social-icons1 {
    position: relative;
    z-index: 4;
    left: 0;
}
.logoBG {
    position: absolute;
    right: 0;
    height: 71px;
    top: 0;
}

.social-icons1 a {
    display: inline-flex;  
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 5px;
    font-size: 18px;
    background-color: #273C66;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-decoration: none;
    transition: all 0.3s ease
}
.social-icons1 a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.6);
}
.icon-btn {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 4;
}

.icon-btn:hover {
    background-color: #059669;
}
.icon-btn .iconify {
    font-size: 26px;
}

.cart-btn {
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 1px 6px;
    min-width: 18px;
    text-align: center;
}


.navbar {
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.nav-bg {
    position: absolute;
    left: -42px;
    top: 0;
    z-index: 2;
    height: 140px;
}

.navbar-brand img {
    position: relative;
    height: 45px;
    z-index: 4;
}
.navbarHomeIcon {
    display: flex;
}
.drawerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 0px 0px 50px 50px;
}
.hero {
    background-image: url(./productsImage/detailsBG.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 545px;
    border-radius:0px 0px 50px 50px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutCompany {
    padding: 30px 0px;
}
.prev-button {
    position: absolute;
    top: 50%;
    left: 0px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    border: 1.26px solid #EBEBEB;
    color: #48BE81;
    transition: all 0.3s ease;
}
.next-button {
    position: absolute;
    top: 50%;
    right: 0px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    border: 1.26px solid #EBEBEB;
    color: #48BE81;
    transition: all 0.3s ease;
}
.prev-button:hover, .next-button:hover {
    background-color: #48BE81;
    border-color: #48BE81;
    color: white;
}
.prev-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
.next-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #04A652;
    text-underline-offset: 26px; 
    text-decoration-thickness: 2px; 
}
.nav-link.active {
    text-decoration: underline;
    text-decoration-color: #04A652;
    text-underline-offset: 26px; 
    text-decoration-thickness: 2px; 
}
  
@media (max-width: 991.98px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
        background-color: white;
        z-index: 1000;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      }
      
      .navbar-collapse.show {
        transform: translateX(0);
      }
      
      .navbar-nav {
        margin-top: 2rem;
      }
      .hero-container {
        padding-top: 20px;
       flex-wrap: wrap;
    }
    .nav-link:hover {
        text-decoration: underline;
        text-decoration-color: #04A652;
        text-underline-offset: 10px; 
    }
    .nav-link.active {
        text-decoration: underline;
        text-decoration-color: #04A652;
        text-underline-offset: 10px; 
    }
    }
    @media (min-width: 900px) and (max-width: 1200px) {
        .navbar-nav .nav-link {
          font-size: 10px; /* Smaller font size in this specific range */
          padding-left: 0px;
          padding-right: 0px;
        }
      }

/* Small screens (mobile devices) */
@media (max-width: 768px) {
    .nav-bg{
        display: none;
    }
    .social-icons1 {
        display: block;
    }
    .logoBG {
        display: none;
    }
    .navbarHomeIcon {
        display: none;
    }
}

/* Extra small screens */
@media (max-width: 480px) {
    .featureMainTitle {
        font-size: 30px;
    }
    .hero {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 245px;
        border-radius:0px 0px 50px 50px;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .details {
        margin-top: 30px;
    }
}


.mission-title {
    font-weight: 700;
    font-size: 60px; 
    margin-bottom: 20px; 
    color: #fff;
}
.product-title1 {
    text-align: center;
    font-weight: 700;
    color: #000000;
    font-size: 60px; 
    margin-bottom: 20px;
}
.titlePara {
    color: #494949;
    font-weight: 500;
    font-size: 20px;
    text-align: center;;
}


@media (max-width: 992px) {
    .mission-title  {
        font-size: 50px;
    }
    .product-title1 {
        font-size: 50px;
    }
    .titlePara {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .mission-title  {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .product-title1 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .titlePara {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .mission-title  {
        font-size: 30px;
        margin-bottom: 0px;
    }
    .product-title1 {
        font-size: 30px;
        margin-bottom: 0px;
    }
    .titlePara {
        font-size: 14px;
    }
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.product-color {
    color: #57BFD9;
    font-size: 18px;
    margin-bottom: 15px;
}

.main-image-container {
    border: 4.31px solid #D9D9D9;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
}

.thumbnail-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.thumbnail {
    /* border: 1px solid #e0e0e0; */
    border-radius: 2px;
    width: 24%;
    /* padding: 5px; */
}

.form-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    height: 100%;
}

@media (max-width: 990px) {
    .details {
        padding-top: 30px;
    }
}
.form-title {
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.availability-info {
    margin-bottom: 25px;
    color: #6A6A6A;
    font-size: 18px;
    font-weight: 400;
}
.time-highlight, .days-highlight {
    color: #2A3D8D;
    font-weight: 700;
    font-size: 18px;
}
.form-label {
    font-weight: 700;
    color: #3B3B3B;
    font-size: 16px;
}
.send-btn {
    background-color: #00b96b;
    border: none;
    padding: 10px 20px;
    float: right;
    margin-bottom: 20px;
}
.send-btn:hover {
    background-color: #00a25e;
}
.invalid-feedback {
    font-size: 80%;
}

.imageTag {
    max-width: 400px;
    margin: 40px 0px 20px 0px;
}

.specs-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border: 1.44px solid #F2F2F2;
    border-radius: 2px;
  }
  .specs-table tr:nth-child(odd) {
    background-color: #F7F7F7;
  }
  .specs-table tr:nth-child(even) {
    background-color: #FBFBFB;
  }
  .specs-table tr {
    transition: transform 0.2s ease;
    position: relative;
    z-index: 1;
  }
  .specs-table tr:hover {
    transform: scale(1.01);
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  .specs-table td {
    border-bottom: 1px solid #eee;
    vertical-align: middle;
  }
  .specs-table td:first-child {
    font-weight: 600;
    color: #333;
    width: 45%;
    padding: 5px 10px;
  }
  .specs-table td:last-child {
    color: #555;
    border: 1px solid #ddd;  
    background-color: #fff; 
    border-radius: 2px;
    padding: 5px 15px;
  }
  .table-title {
    margin-bottom: 20px;
    color: #333;
  }

  /* Partenrs */
.partnerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.partners-section {
    padding: 60px 0;
    background-color: #ffffff;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 2.5rem;
}

.partner-logo {
    /* height: 80px; */
    object-fit: contain;
    transition: transform 0.3s ease;
    /* filter: grayscale(100%); */
    /* opacity: 0.7; */
    max-width: 200px;
}

.partner-logo:hover {
    transform: scale(1.05);
    /* filter: grayscale(0%); */
    opacity: 1;
}

.partner-item {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    margin-bottom: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .section-title {
        font-size: 2rem;
    }
    
    .partner-logo {
        height: 60px;
    }
    
    .partner-item {
        padding: 15px;
    }
    .testimonial-slider {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .section-title {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
    
    .partner-logo {
        height: 50px;
    }
    
    .partner-item {
        padding: 10px;
    }
    .partners-section {
        padding: 10px;
    }
}


  /* Footer */
.footer {
    background: url(./images/footerBG.svg); background-size: cover;background-position: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 50px;
}
.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-top: 20px;
   
}

.footer-section h3 {
    color: #ffd700;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #909090;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.footer-section ul p {
    width: 143px;
}

.footer-section ul p a {
    color: #909090;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.footer-section ul li a:hover {
    color: #ffffff;
}

.footer-section ul p a:hover {
    color: #ffffff;
}

.footer-section ul li a:hover::after {
    content: "→";
    position: absolute;
    left: -20px;
    transition: all 0.1s ease;
}

.footer-section ul p a:hover::after {
    content: "→";
    position: absolute;
    left: -20px;
    transition: all 0.1s ease;
}

.footer-section ul li a.active {
    color: #ffffff; 
}

.footer-section ul li a.active::after {
    content: "→";
    position: absolute;
    left: -20px;
    color: #ffffff;
}

.footer-bottom-text {
    padding-top: 20px;
    color: #909090;
    font-size: 16px;
    font-weight: 300;
    transition: all 0.3s ease;
}

.footer-bottom-text:hover {
    color: #FFF;
}
.footer-bottom-links {
   display: flex;
   gap: 10px; 
   flex-wrap: wrap;
}
.footer-bottom-links a{
    text-decoration: none;
    color: #909090;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: 300;
}
.footer-bottom-links a:hover {
    color: #FFF;
}
.linkContainer{
    display: flex; justify-content: space-between; flex-wrap: wrap; width: 100%; flex-direction: row; align-items: center;
      border-top: 0.83px solid rgba(255, 255, 255, 0.1);
}

/* Responsive Design */
@media (max-width: 1024px) {
    .footer-content {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-section ul p {
        width: auto;
    }
}

@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-section ul li {
        margin-bottom: 5px;
    }

    .footer-section ul p {
        width: auto;
    }
}


@media (max-width: 480px) {
    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-section ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-section ul li {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }

    .footer-section ul li a {
        padding-left: 0;
        display: inline-block;
        width: auto;
    }

    .footer-section ul li a:hover {
        padding-left: 0;
    }

    .footer-section ul li a::before {
        position: static;
        margin-right: 8px;
    }

    .footer-section ul p {
        width: auto;
    }
    .footer-bottom-links {
        justify-content: center;
     }
     .footer-bottom-text p{
        text-align: center;
        width: 100%;
    }
    .linkContainer{
        display: block;
    }
}