body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}
.top-bar {
    background: #000619;
    padding: 13.5px 0;
}
.social-icons1 {
    position: relative;
    z-index: 4;
    left: 0;
}
.logoBG {
    position: absolute;
    right: 0;
    height: 71px;
    top: 0;
}

.social-icons1 a {
    display: inline-flex;  
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 5px;
    font-size: 18px;
    background-color: #273C66;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-decoration: none;
    transition: all 0.3s ease
}
.social-icons1 a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.6);
}
.icon-btn {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 4;
}

.icon-btn:hover {
    background-color: #059669;
}
.icon-btn .iconify {
    font-size: 26px;
}

.cart-btn {
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 1px 6px;
    min-width: 18px;
    text-align: center;
}

.navbar {
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.nav-bg {
    position: absolute;
    left: -42px;
    top: 0;
    z-index: 2;
    height: 140px;
}

.navbar-brand img {
    position: absolute;
    height: 55px;
    z-index: 4;
    top: 10px
}
.navbarHomeIcon {
    display: flex;
}
.drawerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 7px;
    border-radius: 0px 0px 50px 50px;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #04A652;
    text-underline-offset: 26px; 
    text-decoration-thickness: 2px; 
}
.nav-link.active {
    text-decoration: underline;
    text-decoration-color: #04A652;
    text-underline-offset: 26px; 
    text-decoration-thickness: 2px; 
}
@media (max-width: 991.98px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
        background-color: white;
        z-index: 1000;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      }
      
      .navbar-collapse.show {
        transform: translateX(0);
      }
      
      .navbar-nav {
        margin-top: 2rem;
      }
      .nav-link:hover {
        text-decoration: underline;
        text-decoration-color: #04A652;
        text-underline-offset: 10px; 
    }
    .nav-link.active {
        text-decoration: underline;
        text-decoration-color: #04A652;
        text-underline-offset: 10px; 
    }
    }
    @media (min-width: 900px) and (max-width: 1200px) {
        .navbar-nav .nav-link {
          font-size: 10px; /* Smaller font size in this specific range */
          padding-left: 0px;
          padding-right: 0px;
        }
      }

/* Small screens (mobile devices) */
@media (max-width: 768px) {
    .nav-bg{
        display: none;
    }
    .social-icons1 {
        display: block;
    }
    .logoBG {
        display: none;
    }
    .navbarHomeIcon {
        display: none;
    }
}






/* Small screens (mobile devices) */
@media (max-width: 768px) {
    .nav-bg{
        display: none;
    }
    .social-icons1 {
        display: block;
    }
    .logoBG {
        display: none;
    }
    .navbarHomeIcon {
        display: none;
    }
    .input-divider {
        display: none;
    }
    .featureMainTitle {
        font-size: 40px;
        text-align: center;
    }
}

h1 {
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
h2 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin: 3rem 0 7rem;
}
h3 {
    font-size: 30px;
    font-weight: 600;
    margin: 2rem 0 1rem;
}
.content-section {
    padding: 20px 0;
}
.content-section p {
    line-height: 1.6;
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 500;
    color: #4B4B4B;
}
.content-section ul li{
    line-height: 1.6;
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 500;
    color: #4B4B4B;
}

/* Medium screens (Tablets) */
@media (max-width: 1024px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 50px;
        margin: 3rem 0 4rem;
    }
    h3 {
        font-size: 26px;
    }
    .content-section p {
        font-size: 16px;
    }
    .content-section ul li {
        font-size: 16px;
    }
}

/* Small screens (Phones) */
@media (max-width: 768px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 40px;
        margin: 2rem 0 4rem;
    }
    h3 {
        font-size: 22px;
    }
    .content-section {
        padding: 15px 0;
    }
    .content-section p {
        font-size: 14px;
        text-align: justify;
    }
    .content-section ul li {
        font-size: 14px;
        text-align: justify;
    }
}

/* Extra small screens */
@media (max-width: 480px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
        margin: 1rem 0 2rem;
    }
    h3 {
        font-size: 20px;
    }
    .content-section {
        padding: 10px 0;
    }
    .content-section p {
        font-size: 12px;
    }
    .content-section ul li{
        font-size: 12px;
    }
}

.content-section a {
    color: #0D6192;
    text-decoration: none;
}
.content-section a:hover {
    text-decoration: underline;
}


/* Footer */
.footer {
    background: url(./images/footerBG.svg); background-size: cover;background-position: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 50px;
}
.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-top: 20px;
   
}

.footer-section h3 {
    color: #ffd700;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #909090;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.footer-section ul p {
    width: 143px;
}

.footer-section ul p a {
    color: #909090;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.footer-section ul li a:hover {
    color: #ffffff;
}

.footer-section ul p a:hover {
    color: #ffffff;
}

.footer-section ul li a:hover::after {
    content: "→";
    position: absolute;
    left: -20px;
    transition: all 0.1s ease;
}

.footer-section ul p a:hover::after {
    content: "→";
    position: absolute;
    left: -20px;
    transition: all 0.1s ease;
}

.footer-bottom-text {
    padding-top: 20px;
    color: #909090;
    font-size: 16px;
    font-weight: 300;
    transition: all 0.3s ease;
}

.footer-bottom-text:hover {
    color: #FFF;
}
.footer-bottom-links {
   display: flex;
   gap: 10px; 
   flex-wrap: wrap;
}
.footer-bottom-links a{
    text-decoration: none;
    color: #909090;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: 300;
}
.footer-bottom-links a:hover {
    color: #FFF;
}
.footer-bottom-links a.active {
    color: #FFF;
}
.linkContainer{
    display: flex; justify-content: space-between; flex-wrap: wrap; width: 100%; flex-direction: row; align-items: center;
      border-top: 0.83px solid rgba(255, 255, 255, 0.1);
}

/* Responsive Design */
@media (max-width: 1024px) {
    .footer-content {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-section ul p {
        width: auto;
    }
}

@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-section ul li {
        margin-bottom: 5px;
    }

    .footer-section ul p {
        width: auto;
    }
}


@media (max-width: 480px) {
    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-section ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-section ul li {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }

    .footer-section ul li a {
        padding-left: 0;
        display: inline-block;
        width: auto;
    }

    .footer-section ul li a:hover {
        padding-left: 0;
    }

    .footer-section ul li a::before {
        position: static;
        margin-right: 8px;
    }

    .footer-section ul p {
        width: auto;
    }
    .footer-bottom-links {
        justify-content: center;
     }
     .footer-bottom-text p{
        text-align: center;
        width: 100%;
    }
    .linkContainer{
        display: block;
    }
}
